.kvallslista {
  list-style-type: none;
  padding: 0;
}

.kvallslista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
}

.kvallslista li.klar {
  color: #888;
  text-decoration: line-through;
}

.kvallslista button {
  background-color: #893e04;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
}

.kvallslista span {
  cursor: pointer;
  flex: 1;
}
